html {
  color: #cad3d6;
  min-height: 100%;
  background: -webkit-gradient(linear , 0 100, 0 98%, from(#163346), to(#000309) );
  background-color: #123; /* #123 #0F192A */
  padding: 0;
  margin: 0;
}

body {
  max-width: 850px;
  position: relative;
  margin: 40px auto 15px;
  font: normal 16px/1.5 "微软雅黑", "思源黑体", sans-serif;
}

p, ul, li, table {
  margin: 0;
  padding: 0;
}

a {
  color: #0df;
  text-decoration: none;
  padding-bottom: 1px;
}

a:hover {
  color: #5ef;
  padding-bottom: 0;
  border-bottom: 1px solid #468;
}

a:visited {
  color: #6ac;
}

input:focus, a:focus, button:focus {
  box-shadow: 0 0 3px #cb0;
  -webkit-box-shadow: 0 0 3px #cb0;
  -moz-box-shadow: 0 0 3px #cb0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Microsoft Yahei", sans-serif;
  margin: 0;
  padding: 0.15em 0;
}

h1 {
  font-size: 40px;
  padding-bottom: 0.1em;
  color: #f37;
  margin-bottom: 0.5em;
  margin-top: 0;
}

h2 {
  font-size: 1.52em;
  color: #fd5;
  margin-top: 1em;
}

h3 {
  font-size: 1.22em;
  color: #df5;
  width: 80%;
  margin-top: 0.9em;
  margin-bottom: 0.4em;
}

h4 {
  font-size: 1.15em;
  color: #6d9;
  margin-top: 0.8em;
}

h5 {
  font-size: 1.05em;
  color: #e3e3f3;
}

h6 {
  font-size: 1.0em;
}

p, pre, blockquote, table, ul, ol, dl {
  margin: 0.5em 0 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

ul ul, ul ol, ol ol, ol ul {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

li {
  margin: 0.3em auto;
  list-style-position: inside;
}

ol, ul {
  margin-left: 1em;
  padding-left: 0.5em;
}

dt {
  font-weight: bold;
}

img {
  border: none;
}

code {
  padding: 2px 4px;
  color: #cae3b6;
  font-family: Consolas, "Source Code Pro", "Melon", "微软雅黑", "思源黑体", monospace;
}

blockquote, pre {
  padding: 0.8em;
  background: #39213E;
  background: rgba(255,30,120,0.12);
  border: 1px solid #614;
  position: relative;
  z-index: 2;
  font-family: Consolas, "Source Code Pro", "Melon", "微软雅黑", "思源黑体", monospace;
}

blockquote {
  background: rgba(255,30,120,0.1);
  border: 1px solid rgba(230,0,20,0.2);
}

blockquote:hover, pre:hover {
  color: #eee;
  background: rgba(255,30,120,0.25);
}

pre {
  border-left: 1px solid #c26;
  margin-left: 1em;
  padding: 0.4em 0.8em;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid #256;
  padding: 0.3em 0.5em;
}

th {
  background-color: #0F192A;
}

hr {
  border: none;
  border-top: 3px double #035;
  width: 100%;
  margin: 20px 0;
}

del {
  text-decoration: line-through;
  opacity: 0.6;
}

strong, b {
  font-weight: 600;
  color: #eef;
}

em, i {
  font-family: Candara, "Microsoft Yahei", sans-serif;
  font-style: italic;
}
/*}}}*/

textarea {
  background: transparent;
  color: #fff;
  resize: none;
}

#header {
    border-top: 1px dashed #246;
}

#top-nav {
    position: relative;
    top: -25px;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    zoom: 1;
}

#top-nav li {
    float: left;
    list-style: none;
    margin-right: 10px;
}

#top-nav a{
    display: block;
    padding: 6px 20px;
    background: #022538;
    background-color: rgba(8,32,50,0.85);
    background: -webkit-gradient(linear, 0 0, 0 90%, from(rgba(12,46,65,0.7)), to(rgba(0,35,54,0.9)));
    border: 1px solid #3A4D5B;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 1px;
    -moz-border-radius: 1px;
    color: #abc;
    text-shadow: 0 1px 0 #000;
    box-shadow: 0 1px 3px rgba(10,10,0,0.6);
    -webkit-box-shadow: 0 1px 3px rgba(10,10,0,0.6);
    -moz-box-shadow: 0 1px 3px rgba(10,10,0,0.6);
    -webkit-transition: all 0.45s linear;
    -moz-transition: all 0.45s linear;
}

#top-nav a:hover, #top-nav a:focus {
    color: #f3f3f3;
    border-color: rgba(255,255,255,0.35);
    background: -webkit-gradient(linear, 0 0, 0 95%, from(rgba(20,56,76,0.8)), to(rgba(0,40,60,1)));
    box-shadow: 0 1px 0px rgba(10,10,0,0.6);
    -webkit-box-shadow: 0 1px 0px rgba(10,10,0,0.6);
    -moz-box-shadow: 0 1px 0px rgba(10,10,0,0.6);
}

#footer {
  font-size: 12px;
  margin-top: 100px;
  margin-bottom: 10px;
  width: 100%;
  text-align: right;
  color: #aaa;
}

#footer p {
  line-height: 14px;
  margin: 4px 0;
}

.todo {
  font-weight: bold;
  background-color: #f0ece8;
  color: #a03020;
}

/* classes for items of todo lists */
.done0, .done0:before {
  content: "[ ]";
}

.done1, .done1:before {
  content: "[.]";
}

.done2, .done2:before {
  content: "[o]";
}

.done3, .done3:before {
  content: "[O]";
}

.done4, .done4:before {
  content: "[X]";
}

.done0:before, .done1:before, .done2:before, .done3:before, .done4:before {
  font-weight: bold;
  color: green;
}

